<nav class="w-full flex justify-between items-center py-6 px-12 bg-slate-800 text-white">
    <!-- Left Side: Dashboard -->
    <div class="text-2xl font-semibold">
      {{ roleName }} 
    </div>
  
    <!-- Right Side: Notification, User Info, and Image -->
    <div class="flex items-center space-x-4">
      <!-- User Info -->
      <div class="flex items-center space-x-2">
        <!-- User Icon first -->
        <i class="fas fa-user-circle text-3xl text-white"></i>
        <span class="text-lg font-semibold">{{ username }}</span>
      </div>
    </div>
  </nav>
  