<div class="w-full flex justify-center items-center my-3">
    <!-- Previous -->
    <button (click)="previousPage()" [disabled]="currentPage === 1"
      class="flex items-center px-4 py-2 mx-1 text-gray-500 bg-white rounded-md dark:bg-gray-800 dark:text-gray-600 hover:bg-gray-200">
      Previous
    </button>
  
    <!-- Page Numbers -->
    <ng-container *ngFor="let page of [].constructor(totalPages); let index = index">
      <button (click)="goToPage(index + 1)"
        [class.bg-blue-600]="currentPage === index + 1"
        [class.text-white]="currentPage === index + 1"
        class="items-center hidden px-4 py-2 mx-1 text-gray-700 transition-colors duration-300 transform bg-white rounded-md sm:flex dark:bg-gray-800 dark:text-gray-200 hover:bg-blue-600 hover:text-white">
        {{ index + 1 }}
      </button>
    </ng-container>
  
    <!-- Next -->
    <button (click)="nextPage()" [disabled]="currentPage === totalPages"
      class="flex items-center px-4 py-2 mx-1 text-gray-700 bg-white rounded-md dark:bg-gray-800 dark:text-gray-200 hover:bg-gray-200">
      Next
    </button>
  </div>
  
<!--Logic Remaining -->