
<app-dealstableheader></app-dealstableheader>
<div class="overflow-x-auto bg-white rounded-xl shadow-lg p-6 border border-gray-300">
  <table class="min-w-full text-sm text-gray-800 table-auto">
    <thead class="bg-gradient-to-r from-teal-400 to-blue-600 text-xs uppercase text-white sticky top-0 z-10">
      <tr>
        <th class="px-6 py-5 font-semibold text-center align-middle">Name</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Email</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Contact</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Company</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Address</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Service</th>
        <th class="px-6 py-5 font-semibold text-center align-middle">Created AT</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of clients; let i = index"
          [ngClass]="{
            'bg-gray-50': i % 2 === 0,
            'bg-white': i % 2 !== 0
          }"
          class="hover:bg-gray-100 transition duration-200 ease-in-out border-b border-gray-300 text-center">

        <td class="px-6 py-5 align-middle">{{ client.leadName }}</td>
        <td class="px-6 py-5 align-middle">{{ client.leadEmail }}</td>
        <td class="px-6 py-5 align-middle">{{ client.contactNo }}</td>
        <td class="px-6 py-5 align-middle">{{ client.companyName }}</td>
        <td class="px-6 py-5 align-middle">{{ client.companyAdd }}</td>
        <td class="px-6 py-5 align-middle">{{ client.serviceName }}</td>
        <td class="px-6 py-5 align-middle">{{ client.serviceName }}</td>
      </tr>
    </tbody>
  </table>
</div>

  
<app-pagination></app-pagination>